<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <listeners>
        <listener class-name="com.Resources.Listener"></listener>
    </listeners>

    <test name="Test1">
        <classes>
            <class name="com.Test1"></class>
        </classes>
    </test>

    <test name="Test2">
        <classes>
            <class name="com.Test2"></class>
        </classes>
    </test>
    <test name="Test3">
        <classes>
            <class name="com.Test3"></class>
        </classes>
    </test>
    <test name="Test4">
        <classes>
            <class name="com.Test4"></class>
        </classes>
    </test>

</suite>